aclocal.m4
autom4te.cache
compile
config.guess
config.h.in~
config.log
config.status
config.status
config.sub
configure
core.*
depcomp
.deps
INSTALL
install-sh
.la
libtool
*.log
ltmain.sh
m4/
Makefile
Makefile.in
missing
*.o
*.swp
*_test
test-driver
*.trs
html
/.cproject
/.project
/config.h
/stamp-h1
.settings
*.vg
*.gz